.btn {
  &,
  &:link,
  &visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    color: $color-grey-dark;
    display: inline-block;
    transition: all 0.1s;
    font-size: $default-font-size;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }

  &--new {
    border-radius: 10rem;
    padding: 1rem 3rem;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $color-primary;
      color: $color-white !important;
    }
  }
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    border-radius: 5rem;
  }

  &--green {
    background-color: $color-primary-dark;
    color: $color-white !important;
    border-radius: 5rem;

    &:hover {
      color: white !important;
    }
  }

  &:hover {
    transform: translateY(-0.3rem);
    color: $color-grey-dark;
  }
  &:active {
    transform: translateY(0.1rem);
  }
}
.btn-txt {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    font-size: $default-font-size;
    transition: all 0.2s;
  }
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: 0.15);
    transform: translateY(0);
  }
}
